// nib and rupture are enabled in the webpack config
//@import '~normalize.css/normalize.css'

@import 'variables'
@import 'mixins'
@import 'softreset'
@import 'bem'

text-selection = {
  background: alpha(#f05, 0.5),
  color: black
}
tap = false

html
  font-family: $family-roboto
