//
// Elements
// --------------------------------------------------
$form-elements = 'button, input, select, textarea'
$headers = 'h1, h2, h3, h4, h5, h6'

//
// Typography
// --------------------------------------------------
$family-sans = Helvetica Neue, Helvetica, Arial, sans-serif
$family-serif = Times, Times New Roman, serif
$family-mono = Monaco, Courier New, Courier, monospace
$family-roboto = Roboto, $family-sans

//
// Colors
// --------------------------------------------------
$cosmic-latte = #fff8e7
$tap-color = rgba(0, 0, 0, 0)

$background-select = #fff
$border-color-select-trigger = rgba(0, 0, 0, 0.32)
$border-color-select-trigger-active = rgba(0, 0, 0, 0.65)
$gutter-select-medium = 20px
$gutter-select-small = 10px
$gutter-select-x-small = 5px
$gutter-select = $gutter-select-medium
